<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <h1 class="col-9 text-center mt-5"><%= @room.title %></h1>
      <div class="col-3">
        <%= link_to "削除", @room, method: :delete, data: {confirm: "本当によろしいですか？"}, class: "btn btn-danger btn-sm mt-5" if @room.user == current_user %>
      </div>
    </div>

    <div>
      <%= form_with(model: [@talk], url: room_talks_path(@room), local: true) do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <% if f.object.errors.any? %>
          <p class="text-danger">1~150文字にしてください。</p>
        <% end %>

        <div>
          <div>
            <%= f.text_area :title, class: "form-control", placeholder: "投稿内容" %>
          </div>
          <div class="d-grid gap-2 d-md-flex d-md-block justify-content-md-end">
            <%= f.submit "投稿", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>  
    </div>

    <div class="mt-3">
      <% @room.talks.each do |talk| %> 
        <div class="row">
          <div class="col-9 border-bottom mt-2">
            <div class="mt-1">
              <div class=""><%= talk.id %>: <%= talk.title %></div>
              <div class="small text-end"><%= talk.user.name %>: <%= talk.created_at.to_s(:datetime_jp) %></div>
            </div>
          </div>
          <div class="col-3">
            <%= link_to "削除", room_talk_path(@room, talk), method: :delete, class: "btn btn-danger btn-sm mt-3", data: {confirm: "削除しても大丈夫ですか？"} if talk.user == current_user %>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>