<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <h1 class="col-9 text-center my-3"><%= @room.title %></h1>
      <div class="col-3">
        <%= link_to "削除", @room, method: :delete, data: {confirm: "本当によろしいですか？"}, class: "btn btn-danger my-3" %>
      </div>
    </div>

    <div>
      <%= link_to "トーク作成", new_room_talk_path(@room), class: "btn btn-primary" %>
    </div>

    <div class="mt-3">
      <% @room.talks.each do |talk| %> 
        <div class="mb-3">
          <div><%= talk.user.name %></div>
          <div><%= talk.title %></div>
          
          <div><%= talk.created_at.to_s(:datetime_jp) %></div>
          <%= link_to "削除", room_talk_path(@room, talk), method: :delete, class: "btn btn-danger", data: {confirm: "削除しても大丈夫ですか？"} %>
        </div>
      <% end %>
    </div>
  </div> 
</div>