<!DOCTYPE html>
<html>
  <head>
    <title>Ch2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-primary">
        <%= link_to "町の本屋さん", root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <%# if user_signed_in? %>

              <%= link_to "ログアウト", "#", method: :delete, class: 'nav-link' %>
            <%# else %>
              <%= link_to "ユーザー登録", "#", class: 'nav-link' %>
              <%= link_to "ログイン", "#", class: 'nav-link' %>
            <%# end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
